<!DOCTYPE html>
<html lang="pt-br">

<head>
<link rel="stylesheet" href="style.css">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Programação Funcional, turma de Thanos</title>
</head>

<body>
<div id='wrapper'>

<div id='bandana'>
<h1>
<span id='semester'>2018.1</span>
<span id='subject'>Programação Funcional</span>
</h1>
</div>

<form id="create" method="post">
    <label><strong>Titulo</strong></label>
    <br>
    <input type="text" name="titulo">
    <br>
    <label><strong>Conteúdo</strong></label>
    <br>
    <textarea name="conteudo"></textarea>
    <br>
    <label><strong>Tipo</strong></label>
    <br>
    <select name="tipo">
        <option value="homework"> homework </option>
        <option value="prerequisitos"> prerequisitos </option>
        <option value="historico"> historico </option>
        <option value="bibliografia"> bibliografia </option>
    </select>
    <br>
    <input type="submit" value="Submeter">
</form>
</body>

</html>
