<!DOCTYPE html>
<html lang="pt-br">

<head>
<link rel="stylesheet" href="style.css">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Programação Funcional, turma de Thanos</title>
</head>

<body>
<div id='wrapper'>

<div id='bandana'>
<a href="/create" id='adicionarPostagem'> Adicionar Postagem </a>
<h1>
<span id='semester'>2018.1</span>
<span id='subject'>Programação Funcional</span>
</h1>
</div>

<nav>
<a href='#prereqs'>Prerequisitos</a>
<a href='#biblio'>Bibliografia</a>
<a href='#homework'>Homework</a>
<a href='#log'>Histórico</a>
</nav>

<main>

<table class='info'>
<tr><td>Horários:<td class='schedule'>24T56 [16h50–18h30]
<tr><td>Sala de aulas:<td>A304 (2T56) &amp; A103 (4T56)
<tr><td>Sala do prof:<td>A225
<tr><td>Contato:<td><a href='mailto:thanos@imd.ufrn.br'>thanos@imd.ufrn.br</a>
<tr><td>Horário de atendimento:<td>mande email para marcar
</table>

<section id='info'>

<h2 id='prereqs'>Prerequisitos</h2>
<div id='prerequisitos'></div>

<h2 id='toc'>Conteúdo</h2>

<p>
Conceitos de programação funcional, introdução ao lambda calculus,
o modelo de computação de programação funcional, tipos de dados, recursão,
programação de ordem superior, evaluação preguiçosa, dados infinitos, I/O,
classes de tipos, monads, raciocinando sobre programas, indução, parseando,
programação paralela e concorrente, programação com tipos dependentes.

<h2 id='biblio'>Bibliografia</h2>
<div id='bibliografia'></div>

</section>

<section id='dynamic'>

<h2>Homework</h2>
<div id='homework'></div>

<h2 id='log'>Histórico de aulas</h2>
<div id='historico'></div>

</section>

</main>

<div id='pezinhos'>
<p class='lastupdate'>
Last update:
Wed Jun 20 22:49:35 -03 2018

</div>

</div>
<script src="jquery.js"></script>
<script>
    $.getJSON('/posts', function (posts) {
        $.each(posts, function (i, post) {
            var title = ('<h3>' + post.titulo + '</h3>' +
            '<p>' +
                post.conteudo +
                '<a style="margin-left:15px" href="destroy/'+ post.id + '">Remover</a>' +
                '<a style="margin-left:15px" href="edit/'+ post.id + '">Edit</a>' +
            '</p>'
            );
            if(post.tipo == 'homework'){
                $('#homework').append(title);
            }else if(post.tipo == 'historico'){
                $('#historico').append(title);
            }else if(post.tipo == 'prerequisitos'){
                $('#prerequisitos').append(title);
            }else if(post.tipo == 'bibliografia'){
                $('#bibliografia').append(title);
            }
            console.log(post.tipo);

        }); //$.each(...)
    });
</script>
</body>

</html>
