<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
<title>Programação Funcional, turma de Thanos</title>
<style>
body {
    background-color:#eee;
    color:#000;
    margin-top:1ex;
    margin-bottom:1ex;
    padding-top:0px;
    padding-bottom:0px;
    font-family:serif;
}

dt {
    font-weight:bold;
}

dd {
    opacity:0.5;
}

table.info {
    font-size:1.2em;
}
table.info td {
    padding-left:.666em;
}
table.info td:first-child {
    padding-left:0;
    text-align:right;
    vertical-align:center;
    font-weight:bold;
}

table.info .schedule {
    font-size:1.1em;
    font-family:monospace;
}

.members {
    float:right;
    background-color:#eee;
    margin-right:1em;
    padding:1em 2em;
    border:1px solid #ddd;
}
.members p {
    margin:0;
    padding:0;
}
#oldclasses {
    float:right;
    margin-right:1em;
    padding:1em 2em;
}

table.student-bichart {
    border:2px solid black;
    width:90%;
    margin:auto;
}

.jollyroger:before  { content:"â˜  " }
.jollyroger:after   { content:" â˜ " }

.ficadica {
    float:right;
    font-size:1.0em;
    opacity:0.666;
    text-align:right;
    padding:0;
    margin:0;
    clear:both;
}

.janitor {
    clear:both;
}

.pastlinks {
    text-align:right;
    opacity:0.666;
    padding:1em;
    float:right;
}

.quotes {
    padding-right:2em;
    font-style:oblique;
    font-size:1em;
    text-align:right;
    float:right;
    white-space:pre-wrap;
    opacity:0.5;
}

.nobr {
    white-space:nowrap;
}

.student-bichart thead {
    background-color:#ccc;
}
.student-bichart td.student {
    font-weight:normal;
}
.student-bichart td {
    padding:0.2em 0.5em;
}
.student-bichart, .student-bichart th, .student-bichart td {
    border:1px solid #aaa;
    border-collapse:collapse;
}

.touched {
    color:#a07;
}

hr.unitsep {
    border:0.5ex dotted #ddd;
}

#futurelog {
    margin-bottom:0;
}
div.future {
    margin-right:3px;
    font-size:0.9em;
    color:#444;
    height:28em;
    overflow-y:scroll;
    background-color:#fed;
}


#wrapper {
    margin:0 auto;
    border:0.2em solid #000;
    background-color:#fff;
    color:#000;
}

#bandana {
    background-color:#acb;
    padding:1em;
    border-bottom:0.2em solid #000;
}

#bandana h1 {
    padding:0;
    margin:0;
}

#bandana #semester {
    float:right;
}
#bandana #cat {
    font-weight:normal;
}

nav {
    background-color:#fff;
    text-align:center;
    font-size:1.3em;
    background-color:#fee;
    border-bottom:0.1em solid #c68;
}
nav a {
    color:#c68;
    padding:0.333ex;
    cursor:crosshair;
    text-decoration:none;
}
nav a:hover {
    color:#000;
}

main {
    padding: 1em 0em;
}

main h2 {
    padding:0.5em 1em;
    border-bottom:0.2em solid #acb;
    padding-bottom:0.2em;
    margin-right:3px;
}

main p,
main h3,
main h4,
main table,
main dl {
    margin-left:1em;
}

main .alert {
    color:#f00;
}

main .misplaced {
    color:#000;
    border-right:1ex solid #b28;
    /* background-color:#fff0f8;
     */
}
main li.only1,
main li.only2 {
    color:#604;
}
main li.only1::before {
    color:#b08;
    content:"â†“ ";
}
main li.only2::before {
    color:#b08;
    content:"â†‘ ";
}
main li.plicker::after {
    color:#06c;
    content:" â“…";
}

main h3.livecoding::after {
    color:#06c;
    content:" (LC)";
}

main li.livecoding {
    color:#06c;
}

.help, abbr {
    border-bottom:1px dotted red;
    text-decoration:none;
    cursor:help;
}

main .bookauthor {
    font-variant:small-caps;
    font-size:1.05em;
}

main .booktitle {
    font-style:oblique;
}

main .kra {
    letter-spacing:0.333em;
}

main a {
    color:#075;
}

main a:hover {
    color:#d84;
}

main a.external {
    cursor:ne-resize;
    font-weight:normal;
    border-bottom:1px solid #f80;
    text-decoration:none;
}
main a.download {
    cursor:s-resize;
    font-weight:normal;
    border-bottom:1px solid #f80;
    text-decoration:none;
}

main a.external:hover   { color: #f60; border-bottom:1px solid #000; }
main a.external:before  { content:"" }
main a.external:after   { content:"" }

main section#info > * {
    padding-right:1em;
}
main section#info {
    float:left;
    padding:0;
    width:50%;
}
main section#dynamic {
    float:left;
    width:50%;
    padding:0;
    margin-left:-3px;
    border-left:1px solid #ccc;
}

strong.comb {
    font-family:sans-serif;
    font-weight:bold;
}
code.lkword {
    font-family:monospace;
    text-decoration:underline;
    font-size:1.2em;
}

#pezinhos {
    border-top:0.2em solid #000;
    background-color:#ccc;
    padding:1em;
    text-align:center;
    clear:both;
}

#pezinhos .lastupdate {
    font-family:monospace;
    font-size:1.3em;
}

.flushright, .flushleft {
    padding-right:0;
    margin-right:0;
    padding-left:0;
}
.flushright {
    margin-left:10px;
    float:right;
}
.flushleft {
    margin-right:10px;
    float:left;
}

.cancelled {
    cursor:not-allowed;
    opacity:0.5;
    color:#d44;
}

.broken {
    cursor:not-allowed;
    opacity:0.5;
    text-decoration:line-through;
}

.invisible {
    opacity:0;
    visibility:hidden;
}

img.framed, img.semiframed { border: 1px solid #000; }
img.gframed, img.gsemiframed { border: 1px solid #888; }
img.framed, img.gframed {
    border-radius: 4px 4px;
    box-shadow: 3px 3px 3px #888;
}
</style>
</head>

<body>
<div id='wrapper'>

<div id='bandana'>
<h1>
<span id='semester'>2018.1</span>
<span id='subject'>Programação Funcional</span>
</h1>
</div>

<nav>
<a href='#prereqs'>Prerequisitos</a>
<a href='#toc'>Conteudo</a>
<a href='#biblio'>Bibliografia</a>
<a href='#homework'>Homework</a>
<a href='#log'>Histórico</a>
<a href='#livecoding'>Live&nbsp;Coding</a>
<a href='#exams'>Provas</a>
<a href='#project'>Projeto</a>
<a href='#extra'>Pontos-extra</a>
<a href='#futurelog'>Futuro</a>
</nav>

<main>

<table class='info'>
<tr><td>Horários:<td class='schedule'>24T56 [16h50–18h30]
<tr><td>Sala de aulas:<td>A304 (2T56) &amp; A103 (4T56)
<tr><td>Sala do prof:<td>A225
<tr><td>Contato:<td><a href='mailto:thanos@imd.ufrn.br'>thanos@imd.ufrn.br</a>
<tr><td>Horário de atendimento:<td>mande email para marcar
</table>



<section id='info'>

<h2 id='prereqs'>Prerequisitos</h2>
<ul>
<li><strong>Óbvios:</strong>
<ul>
<li>{vontade, tempo} para {hackear, praticar, procurar, implementar, programar} nos assuntos da disciplina;
<li>fluência em pelo menos um dos dois editores de texto que prestam (Vim &amp; Emacs) ajuda em qualquer tarefa que envolve criação de arquivos de texto.
</ul>
<li>Experiência com programação não-funcional (disfuncional) <em>atrapalharia</em> mas NÃO será estritamente proibida. ;)
<li><em>Nada mais!</em>
</ul>

<p>Para o lado prático da disciplina e seus trabalhos, vamos precisar as noções básicas de Unix e familiaridade com git.

<p><a href='help/unix.txt'><strong>Unix tips</strong></a>


<h2 id='toc'>Conteúdo</h2>

<p>
Conceitos de programação funcional, introdução ao lambda calculus,
o modelo de computação de programação funcional, tipos de dados, recursão,
programação de ordem superior, evaluação preguiçosa, dados infinitos, I/O,
classes de tipos, monads, raciocinando sobre programas, indução, parseando,
programação paralela e concorrente, programação com tipos dependentes.



<h2 id='biblio'>Bibliografia</h2>

<h3>Principal</h3>
<p class='jollyroger ficadica invisible'>(Conhece o <a class='external' href='http://libgen.io/'>libgen.io</a>?)
<ul>
<li><span class='bookauthor'>Hutton</span>: <span class='booktitle'>Programming in Haskell</span>
<li><span class='bookauthor'>Bird</span>: <span class='booktitle'>Thinking Functionally with Haskell</span>
<li><span class='bookauthor'>Thompson</span>: <span class='booktitle'>The Craft of Functional Programming</span>
</ul>

<h3>Papers</h3>
<ul>
<li><span class='bookauthor'>Hutton</span>: <a class='booktitle external' href='doc/hutton-fold.pdf'>A tutorial on the universality and expressiveness of fold</a>
</ul>

<h3>Auxiliar</h3>
<ul>
<li><span class='bookauthor'>Lipovača</span>: <a class='booktitle external' href='http://learnyouahaskell.com/'>Learn you a Haskell for great good</a> (LYAH)
<li><span class='bookauthor'>Bird</span>: <span class='booktitle'>Introduction to Functional Programming using Haskell</span>
<li><span class='bookauthor'>Diehl</span>: <a class='booktitle external' href='http://dev.stephendiehl.com/hask/'>What I wish I knew when learning Haskell</a>
<li><span class='bookauthor'>Yorgey</span>: <a class='booktitle external' href='https://wiki.haskell.org/Typeclassopedia'>Typeclassopedia</a>
<li><span class='bookauthor'>Doets &amp; van Eijck</span>: <span class='booktitle'>The Haskell Road to Logic, Maths and Programming</span>
<li><span class='bookauthor'>Friedman &amp; Felleisen</span>: <span class='booktitle'>The Little Schemer</span>
<li><span class='bookauthor'>Bird</span>: <span class='booktitle'>Pearls of Functional Algorithm Design</span>
<li><span class='bookauthor'>Marlow</span>: <span class='booktitle'>Parallel and Concurrent Programming in Haskell</span>
<li><span class='bookauthor'>Snoyman</span>: <a class='booktitle external' href='https://www.yesodweb.com/book'>Developing Web Applications with Haskell and Yesod</a>
<li><span class='bookauthor'>Freeman</span>: <a class='booktitle external' href='https://leanpub.com/purescript/read'>PureScript by Example</a>
<li><span class='bookauthor'>Brady</span>: <span class='booktitle'>Type-driven development with Idris</span>
<li><span class='bookauthor'>Bird &amp; de Moore</span>: <span class='booktitle'>The Algebra of Programming</span>
<li><span class='bookauthor'>Pierce et al</span>: <a class='booktitle external' href='https://softwarefoundations.cis.upenn.edu/'>Software Foundations</a>
<li><span class='bookauthor'>Eu</span>: <a class='booktitle external' href='http://tsouanas.org/fmcbook'>Matemática Fundacional para Computação</a>
</ul>

<h3>Posts</h3>
<ul class='alert'>
<li><a href='help/stack.txt'><strong>How to use stack on the server</strong></a>
<li><a class='booktitle external' href='http://howistart.org/posts/haskell/1/'>How I Start: Haskell</a>
<li><a class='booktitle external' href='https://haskell-lang.org/tutorial/stack-play'>How to play with Stack</a>
</ul>

<h3>Links</h3>
<p>
<a class='external' href='http://www.haskell.org/'>Haskell</a> ;
<a class='external' href='http://www.idris-lang.org/'>Idris</a> ;
<a class='external' href='http://www.purescript.org/'>PureScript</a> ;
<a class='external' href='http://www.neovim.io/'>Neovim</a> ;
<a class='external' href='https://www.gnu.org/software/emacs/'>Emacs</a>


<h2 id='livecoding'>Live Coding</h2>

<p>
<strong>      32
 participantes:</strong>
aaar2
akandor
allanrego
binaks
carlos
ericdsm
ggorg03
giordanorn
italogomes
itepifanio
jaimerson
joelffg
jomedeiros
jp
jplinha
jsneto
louise
lpgoulart
macielbarbosa
matheusanmo
mazuh
mrmorais
natalia089
paulossm
sarah
vash
victoroliveira
viniciuscampos
vitorgreati
welligton
wgordo
xprime




<h2 id='exams'>Provas</h2>

<ul>
<li>Prova (úniqa) escrita (pts: ?/100; bonus: ?) (dia: ?)
</ul>

<p>
Nenhuma informação sobre a prova ainda.



<h2 id='project'>Projeto</h2>

<p>
Mais informações sobre o projeto depois de cobrir todo o conteudo básico de
programação funcional.



<h2 id='extra'>Pontos extra</h2>

<h3>Unidade 1</h3>
<table class='student-bichart'>
<tr><td class='student'>JP           <td>25
<tr><td class='student'>Joel Felipe  <td>10
<tr><td class='student'>Natália      <td>15
<tr><td class='student'>Josivan      <td>11
<tr><td class='student'>Louise       <td>14
<tr><td class='student'>Bianca       <td>12
<tr><td class='student'>JP'          <td>10
<tr><td class='student'>Miguel       <td>3
<tr><td class='student'>Matheus      <td>15
<tr><td class='student'>Sarah        <td>12
<tr><td class='student'>x'           <td>9
<tr><td class='student'>Vinícius     <td>10
<tr><td class='student'>Vitor        <td>14
<tr><td class='student'>Gustavo      <td>7
<tr><td class='student'>Gabriel      <td>2
<tr><td class='student'>Jaimerson    <td>3
<tr><td class='student'>Arthur       <td>4
</table>



</section>

<section id='dynamic'>

<h2 id='homework'>Homework</h2>
<p>
<strong>Os arquivos existem no servidor no <code>~/funfiles</code>.</strong>
<p>
Olhem com freqüência para possíveis modificações/correções!

<h3>19/02/2018</h3>
<ol>
<li>Instale a <a class='external' href='http://www.haskell.org/downloads'>Haskell</a> no teu sistema.
Vai precisar instalar o tool <a class='external' href='http://docs.haskellstack.org/en/stable/README/'>stack</a>.  Siga as instruções nos sites.
<li>Aprenda os básicos de pelo menos um dos dois editores que prestam:
  <ul>
  <li>para o (neo)vim, complete seu tutorial: execute o <code class='command'>vimtutor</code>
  <li>para o Emacs, complete seu tutorial: execute o <code class='command'>emacs</code>, e siga as instruções para entrar no tutorial.
  </ul>
<li>Se acostume com <a class='external' href='http://wiki.haskell.org/IRC_channel'>o canal IRC de Haskell</a>.
<li>Especialmente se tu programa em Java, dê uma olhada em <a class='external' href='http://www.scala-lang.org/'>Scala</a>.  Vale a pena assistir os primeiros minutos <a class='external' href='http://www.youtube.com/watch?v=LH75sJAR0hc&t=7m25s'>dessa palestra</a> (especialmente os exemplos com o código que começa no tempo 8m45s).
<li>Especialmente se tu já programou em JavaScript, dê uma olhada na <a class='external' href='http://elm-lang.org/'>Elm</a>.
  Tente modificar <a class='external' href='http://elm-lang.org/examples/buttons'>esse exemplo</a>, para adicionar um feature nele, mesmo sem ter visto Elm nunca antes.  Por exemplo, tente <em>adicionar um botão Reset que zera esse contador</em>.
Compare essa solução com o jeito que tu faria isso em JavaScript pura.
<li>Se nunca programou em LISP, comece aprender uma!
Sugiro brincar com <a class='external' href='http://racket-lang.org'>Racket</a>, e criar suas próprias linguagens de programação!
<li>Comece estudar o LYAH (veja na bibliografia).
</ol>
<p>(<strong>Obs:</strong> <em>não</em> vamos usar nenhuma LISP, nem Scala, nem Elm nessa disciplina!  É só pra tua diversão mesmo.)

<h3>26/02/2018</h3>
<ol>
<li>Estude as secções «Funções de ordem superior» e «Currificação» do capítulo «Funções» do <a class='external' href='http://tsouanas.org/fmcbook'>meu livro</a>.
<li>Estude o <a class='external' href='http://learnyouahaskell.com/starting-out'>Capítulo 2</a> de LYAH.
<li>Estude o Capítulo 2 de Hutton e resolva seus exercícios.
</ol>

<h3>01/03/2018</h3>
<ol>
<li>Estude os Capítulos <a class='external' href='http://learnyouahaskell.com/types-and-typeclasses'>3</a> e <a class='external' href='http://learnyouahaskell.com/syntax-in-functions'>4</a> de LYAH.
<li>Estude os Capítulos 3 e 4 de Hutton e resolva seus exercícios.
<li>Estude os Capítulos 3 e 4 do <a class='external' href='http://haskellbook.com/assets/img/sample.pdf'>HaskellBook</a> e resolva seus exercícios.
</ol>

<h3>10/03/2018</h3>
<ol>
<li>Estude o Capítulo 5 de Hutton e resolva seus exercícios.
</ol>

<h3>12/03/2018</h3>
<ol>
<li>Defina todos os <em>undefined</em> no <a href='code/ExNat.hs'>ExNat.hs</a>
</ol>

<h3>19/03/2018</h3>
<ol>
<li>Defina todos os <em>undefined</em> no <a href='code/ExComb.hs'>ExComb.hs</a>
<li>Estude o Capítulo 5 de Hutton e resolva seus exercícios!
</ol>

<h3>22/03/2018</h3>
<ol>
<li>Defina todos os <em>undefined</em> no <a href='code/ExRat.hs'>ExRat.hs</a>.
<li>Defina todos os <em>undefined</em> no <a href='code/ExComplex.hs'>ExComplex.hs</a>.
<li>Defina todos os <em>undefined</em> no <a href='code/ExMatrix2x2.hs'>ExMatrix2x2.hs</a>.
<li>Generalize o ExMatrix2x2 para um ExMatrix.
<li>Ache defeitos nas abordagens de todos esses modules.
</ol>

<h3>27/03/2018</h3>
<ol>
<li>Estude o Capítulo <a class='external' href='http://learnyouahaskell.com/recursion'>5</a> de LYAH.
<li>Estude o Capítulo 6 de Hutton e resolva seus exercícios.
</ol>

<h3>28/03/2018</h3>
<ol>
<li>Resolva todo o <a href='code/ExList.hs'>ExList.hs</a>.
    (Copie ele novamente no teu homedir, pois já mudei várias coisas!)
</ol>

<h3>02/04/2018</h3>
<ol>
<li><strong>TERMINEM TODOS OS HOMEWORKS PENDENTES!</strong>
<li>Estude o <a href='code/MySort.hs'>MySort.hs</a>
<li>Estude o (atualizado hoje) <a href='code/ExList.hs'>ExList.hs</a>
<li>O (++) é realmente associativo?
<li>Teu (+) é associativo no teu <em>Nat</em>?
<li>Declare uma boa associatividade e precedência nos operadores dos teus modules até agora.
</ol>

<h3>05/04/2018</h3>
<ol>
<li>Resolva o <a href='code/Drunk.hs'>Drunk.hs</a>
<li>Estude e brinque com o <a href='code/JPHalve.hs'>JPHalve.hs</a>
</ol>

<h3>18/04/2018</h3>
<ol>
<li><strong>TERMINEM TODOS OS HOMEWORKS PENDENTES!</strong>  (Especialmente o Nat e o List.)
<li>Redefina (sem olhar) a <em>permutations</em> definindo e usando a <em>interpose</em>
<li>Defina a <em>permutations</em> definindo e usando a <em>insertAt</em>
</ol>

<h3>24/04/2018</h3>
<ol>
<li>Verifique todos os leis que encontramos nas aulas
<li>
Define unzip and cross by:
<pre>
unzip = pair (map fst,map snd)
cross (f,g) = pair (f . fst,g . snd)
</pre>
Prove that:
<pre>
cross (map f, map g) . unzip = unzip . map (cross (f,g))
cross (f,g) . cross (h,k)    = cross (f . h,g . k)
</pre>
</ol>

<h3>25/04/2018 – 03/05/2018</h3>
<ol>
<li>Prove tudo que está na secção «Provando propriedades de operações e relações nos naturais» no capítulo «Indução» do <a href='/fmcbook' class='external'>fmcbook</a>
<li>Defina uma seqüência de funções <em>fun</em><sub><em>n</em></sub> tais que as <em>add</em>, <em>mul</em>, e <em>exp</em>, são apenas uns dos seus termos.  Implementa a <em>fun</em> do <a href='code/ExFun.hs'>ExFun.hs</a>
</ol>

<h3>07/05/2018</h3>
<ol>
<li>sum (xs ++ ys) = sum xs + sum ys
<li>concat (xss ++ yss) = concat xss ++ concat yss
<li>filter p (xs ++ ys) = filter p xs ++ filter p ys
<li>map f (xs ++ ys) = map f xs ++ map f ys
<li>sum (reverse xs) = sum xs
<li>length (reverse xs) = length xs
<li>w `elem` (xs ++ ys) = w `elem` xs || w `elem` ys
<li>zip (fst (unzip ps)) (snd (unzip ps)) = ps
<li>take n xs ++ drop n xs =?= xs
<li>head . map f =?= f . head
<li>map id = id
<li>map (g . h) = map g . map h
<li>Verifique todas essas propriedades com QuickCheck
</ol>

<h3>28/05/2018</h3>
<ol>
<li>Defina as funções seguintes usando fold:
<pre>
(++)
map
sumlength
compose ∷ [α → α] → (α → α)
isort
unzip
safeLast ∷ [α] → Maybe α
inits
</pre>
onde
<pre>
sumlength xs = (sum xs, length xs)
</pre>
<li>Defina uma função emap, para comportar como a map, mas em vez de listas, em eithers: qual seria um tipo razoável para a emap?
<li>Defina a adição (binária) e o somatório (unário, recebendo lista) para Maybe Integers.
<li>Defina o <em>countsF</em> do <a href='code/DbObjects.hs'>DbObjects.hs</a>
<li>Defina todos os <em>undefined</em> no <a href='code/ExMaybe.hs'>ExMaybe.hs</a>
<li>Defina todos os <em>undefined</em> no <a href='code/ExEither.hs'>ExEither.hs</a>
</ol>

<h3>31/05/2018</h3>
<ol>
<li>Defina todos os <em>undefined</em> no <a href='code/ExIO.hs'>ExIO.hs</a> (tu vai precisar saber como <a href='help/read.txt'>read</a>)
</ol>

<h3>06/06/2018 – 07/06/2018</h3>
<ol>
<li><strong>TERMINEM TODOS OS HOMEWORKS PENDENTES!</strong>
    (Especialmente os: ExMaybe; ExEither; ExIO)
<li>Estudem o paper de Hutton que tá na bibliografia
</ol>

<h3>14/06/2018</h3>
<ol class='alert'>
<li>Desenvolva projetos pequenos!  Por exemplo joguinhos como o hangman.
<br>
Vale a pena brincar com os módulos seguintes:
<pre>
Data.Functor
Data.List
Data.Char
Data.Set
Data.Maybe
Data.Either
Data.Time
Control.Applicative
Control.Monad
Text.Printf
System.IO
System.Random
System.Environment
System.Directory
System.Console.ANSI
System.Process
</pre>
</ol>



<h2 id='log'>Histórico de aulas</h2>

<h3>19/02/2018: Apresentação</h3>
<ul>
<li>Apresentação dos assuntos principais
<li>Paradigmas de linguagens de programação
<li>Imperativo; Declarativo
<li>Programação funcional e programação lógica
<li>Funções vs Relações
<li>A família LISP
<li>Lazy evaluation
</ul>

<h3 class='lab'>21/02/2018</h3>
<ul>
<li>Estratégias da evaluação
<li>Dois teoremas sobre estratégia de evaluação
<li><code>x = 2</code> em Haskell vs. outras linguagens
<li>Programa como dicçionário de definições
<li>A ordem de definições não importa
<li>A ordem de equações (duma definição) importa
<li>Tipos
<li>Listas
<li>Açucar sintáctico
<li><em>if then else</em>
<li>Lazy vs. Strict
<li>Infinidade
<li>Uma multiplicação mais esperta
<li>Um <code>double</code> estranho e o valor de <code>double (double 1)</code>
<li>Inferença de tipos
<li>Tuplas vs. Listas
</ul>

<h3>26/02/2018</h3>
<ul>
<li>it (GHCi)
<li>comentários
<li>precedência de aplicação
<li>umas funções de Prelude: head; tail; take; drop; sin; cos; sqrt
<li>sin(<em>x</em>) vs. sin
<li>abstraindo com buracos em expressões
<li>First-class; Higher-order functions
<li>λ-calculus
<li>λx.f(x) = f
<li>currificação: curry, uncurry
<li>aplicação parcial
</ul>

<h3>28/02/2018</h3>
<ul>
<li>λ-calculus recap
<li>β-redex; β-redução
<li>α, η equivalências
<li>where
<li>pattern-matching
<li>nomes com símbolos: + vs. (+)
<li>polymorphic types
<li>fst; snd
<li>unicidade de programa dado tipos: (a,b) → a; (a,b) → b; a → a
<li>inferência de tipos
<li>a → b → c → d  vs.  a → (b → (c → d))
</ul>

<h3>05/03/2018</h3>
<ul>
<li>side effects e "hello world"
<li>umas funcionalidades de tipos
<li>tipos primitivos
<li>tipos compostos (por [–], (–,–), –→–, etc.)
<li>abuso de tipos («bota lá um -1 e pronto»)
<li>infix/prefix: (+), `mod`, `elem`, etc.
<li>nomes válidos para funções, tipos, valores
<li>defining new data types
<li>um tipo <code>Weekday</code>
<li>guards
<li>erro no ghci: «não sei como show'ar esse valor pra ti»
<li>erro ná compilação: «não sei o que significa igualdade para esse tipo de coisa»
<li><code>deriving (Eq, Show)</code>
<li class='livecoding'>MyBool.hs
</ul>

<h3>07/03/2018</h3>
<ul>
<li>data Bool e suas funções
<li>nomes em Haskell: começando com minúsculo vs. maiúsculo
<li>nomes para operadores (feitos por símbolos)
<li>precedências: função aplicação (f x) vs. (f $ x)
<li>secções e aplicação parcial
<li>(+ 2), (3 *), (&lt; 8), (`mod` 2), e seus tipos
<li>(,) (,,) (,,,) e seus tipos
<li>listas
<li>head; tail; init; last
<li>length; reverse; e seus tipos
<li>even; odd
<li>map; filter;
<li>take; drop; takeWhile; dropWhile
<li>(:) e seu tipo
<li class='livecoding'>Nata.hs
</ul>

<h3>12/03/2018</h3>
<ul>
<li>o mundo de tipos vs. o mundo de valores
<li>o valor ⊥ (<em>bottom</em>)
<li><code>foo x y = algo x y</code> vs. <code>foo x = algo x</code> vs. <code>foo = algo</code>
<li>composição
<li>flip
<li>o tipo <code>Nat</code>
<li>Definindo nossas próprias instances
    <ul>
    <li><code>Show Nat</code>
    <li><code>Eq Nat</code>
    </ul>
<li><code>:type Succ</code>; <code>:type Succ Zero</code>
<li class='livecoding'>MyFlip.hs
</ul>

<h3>14/03/2018: Nats &amp; bottoms</h3>
<ul>
<li>Sobre o Nat.hs.
<li>aplicação denotada por &ldquo; &rdquo; vs. por &ldquo;<code>$</code>&rdquo;
<li>Typeclasses &amp; Constraints
<li>Ord
<li>Enum
<li><code>:info</code>
<li>Satisfazendo as typeclasses Integral, Real, Num
<li>Composição revisitada
<li>definições pointless (point-free) vs pointfull
<li>Construtores de valores: <em>Succ</em> vs. <em>succ</em>
<li>O mundo de tipos vs. o mundo de valores
<li><code>:type</code> vs. <code>:kind</code>
<li>Convenções de Haskell: nómes começando com minúsculo vs. maiúsculo
<li>max; min; maximum; minimum
<li>Todos os valores do tipo <em>Bool</em>
<li><em>bottom</em> e suas propriedades
<li>Os números parciais
<li>Todos os valores do tipo <em>Nat</em>
<li><em>atLeast :: Integer → Nat</em>
<li>O número infinito: <em>infinity = Succ infinity</em>
<li>Como provar que o <em>infinity</em> não tem um valor nem de número natural nem de número parcial
<li class='livecoding'>Max3.hs
</ul>

<h3>19/03/2018: Modules; Testing; Lists</h3>
<ul>
<li>literate programming
<li>rational numbers
<li>modules, imports, encapsulamento
<li>Data.Char; Data.List
<li>:browse &amp; :info
<li>Ordering
<li>precedência de operadores: <code>infixl</code> / <code>infixr</code>
<li>testing: Test.QuickCheck
<li>sort
<li>sum; product; concat
<li>zip; zipWith; all; any
<li>repeat
<li>List comprehension
<li>quadratic roots; sqrt
<li class='livecoding'>Quad.hs
<li>Testing com aritmética flutuante
<li>let-expressions
<li>let vs where
</ul>

<h3>21/03/2018</h3>
<ul>
<li>GHC Extensions: PostfixOperators; UnicodeSyntax
<li>PairIntInt; PairIntBool; TripleBoolIntBool; etc.
<li>MkPairIntInt; MkPairIntBook; MkTripleBoolIntBool; etc.
<li>data Person = Amigo String | Colega String String
<li>Pair a b; MkPair a b;
<li>Construtores de valores vs. construtores de typos
<li>(), (,), (,,), etc. nos dois mundos
<li>sinónimos de tipos: <code>type</code>
<li><code>type</code> vs <code>data</code>
<li class='livecoding'>Rat.hs
</ul>

<h3>26/03/2018: Listas</h3>
<ul>
<li>Pattern matching com <code>case ... of ...</code>
<li>Como implementar o tipo <code>ListInt</code> de «lista de inteiros»
<li>Construtores com símbolos começam com <code>:</code>
<li>Operadores infixos: suas associatividades e precedências
<li>Do tipo <code>ListInt</code> para o tipo geral <code>List α</code>
<li><code>:kind []</code> vs. <code>:type []</code>
<li>Recursão nas listas
<li>As funções:
<em>head</em>; <em>tail</em>; <em>null</em>; <em>length</em>; <em>sum</em>; <em>product</em>; <em>reverse</em>; <em>take</em>; <em>drop</em>; <em>takeWhile</em>; <em>dropWhile</em>
<li>a diferença entre <em>length</em> e <em>sum</em>
<li class='livecoding'>TakeDrop.hs
</ul>

<h3>28/03/2018: Listas</h3>
<ul>
<li>Construtores vs. Destrutores
<li>Pattern-matching com <code>where</code>
<li>Eficiência
<li><em>subtract</em> e secções
<li><em>sumLastThree</em>; <em>sumLast</em>
<li>definição por composição
<li>Duas definições de (++)
<li><em>snoc</em>
<li class='livecoding'>MMT.hs
</ul>

<h3>02/04/2018: Listas</h3>
<ul>
<li>Reimplementação do algoritmo de Matheus para a <em>sumLastThree</em>
<li>Todas as equações tem que compartilhar o mesmo número de argumentos
<li>As funções:
  <em>elem</em>;
  (!!);
  <em>map</em>;
  <em>filter</em>;
  <em>splitAt</em>
<li>Eficiência: associatividade esquerda ou direta? (++)
<li>Dois jeitos diferentes para pensar sobre a <em>map</em>: função de aridade 1 vs. função de aridade 2
<li>Eficiência: duas definições de splitAt
<li>Sorting
<li>merge sort
<li>insertion sort
<li class='livecoding'>Mirror.hs
</ul>

<h3>04/04/2018: Listas</h3>
<ul>
<li>Sorting de novo
<li>Quick sort
<li>as-patterns
<li>GADTs extension
<li>halve primitivo (sem splitAt)
<li class='livecoding'>Drunk.hs
</ul>

<h3>09/04/2018</h3>
<ul>
<li>Idéias sobre a implementação de Matrix2x2 e de Matrix
<li>As funções:
  <em>lines</em>;
  <em>split</em>;
  <em>drunk</em>;
  <em>alternate</em>;
  <em>until</em>;
  <em>iterate</em>;
  <em>collatz</em>
<li>Generalizações de problemas
<li>Mais uma implementação da <em>until</em>
<li>Mais sobre as-patterns
<li><a class='external' href='https://en.wikipedia.org/wiki/Collatz_conjecture'>A conjectura Collatz</a>
<li><em>merge</em> &amp; <em>sorted</em>: como testar
<li>Mais testing com QuickCheck
<li>O operador <code>==&gt;</code>
<li class='livecoding'>Aqui.hs
</ul>

<h3>11/04/2018</h3>
<ul>
<li>Mais testing com QuickCheck
<li>Defeitos nos modules dos homeworks
<li>Nomeação consistente
<li><em>zip</em> usando <em>zipWith</em>
<li><em>cycle</em> usando <em>repeat</em>
<li><em>ones</em>
<li>As funções:
  <em>iterate</em>;
  <em>and</em>;
  <em>or</em>;
  <em>all</em>;
  <em>any</em>;
  <em>isPrefixOf</em>;
  <em>zip</em>;
  <em>zipWith</em>;
  <em>unzip</em>;
  <em>subsequences</em>;
  <em>inits</em>;
  <em>tails</em>
<li class='livecoding'>MoreLists.hs
</ul>

<h3>16/04/2018</h3>
<ul>
<li>Revisão: <em>map</em>, <em>filter</em>, <em>zip</em>, <em>zipWith</em>, <em>unzip</em>, <em>concat</em>, <em>inits</em>, <em>tails</em>, <em>subsequences</em>, <em>length</em>, <em>curry</em>, <em>uncurry</em>, <em>flip</em>, (+), (*), (^), Nat, List α
<li>Definindo listas recursivamente
    <ul>
    <li>ones, nats, fibs
    </ul>
<li>Equational reasoning
<li>Diagramas comutativos
<li><em>cross</em>; <em>pair</em>
<li>Umas leis de take, drop, map, cross, pair
<li class='livecoding'>ER.hs
</ul>

<h3>18/04/2018</h3>
<ul>
<li class='livecoding'>ListR.hs
<li><em>inits</em>; <em>tails</em>; <em>subsequences</em>; <em>rotate</em>
<li>permutations usando interpose
<li><a class='external' href='https://www.haskell.org/hoogle/'>Hoogλe</a>
</ul>

<h3>23/04/2018</h3>
<ul>
<li class='livecoding'>CP.hs
<li>funções:
    <ul>
    <li><em>inserts</em>;
    <li><em>insertAt</em>;
    <li><em>inserts</em> (usando <em>insertAt</em>);
    <li><em>cp</em> (produto cartesiano);
    </ul>
<li>leis:
<pre>
take n xs ++ drop n xs  =  xs
take m . drop n  =  drop n . take (m + n)
take m . take n  =  take (m `min` n)
drop m . drop n  =  drop (m + n)
map g . map f  =  map (g . f)
cross (f,g) . pair (h,k)  =  pair (f . h,g . k)
pair (f,g) . h  =  pair (f . h,g . h)
fst . cross (f,g)  =  f . fst
snd . cross (f,g)  =  g . snd
cross (f,g) . cross (h,k)  =  cross (f . h,g . k)
sum . map double  =  double . sum (distr.)
sum . map sum  =  sum . concat (assoc.)
sum . sort  =  sum (commut.)
map f . reverse  =  reverse . map f
concat . map concat  =  concat . concat
filter p . map f  =  map f . filter (p . f)
</pre>
</ul>

<h3>25/04/2018</h3>
<ul>
<li class='livecoding'>Partition.hs
<li>Mais equational reasoning
<li>Substituição bidirecional (provas matemáticas) vs. unidirecional (computação Haskell)
<li>Aplicando e desaplicando definições
<li>Cuidado com overlapping patterns
<li>Predicados de várias aridades
<li>Técnicas de provas
<li>Indução nos naturais
</ul>

<h3>30/04/2018</h3>
<ul>
<li class='livecoding'>Induction.hs
<li>Provas por indução em todo detalhe
<li>A adição é associativa
<li>A adição é comutativa
</ul>

<h3>02/05/2018</h3>
<ul>
<li class='livecoding'>Induction2.hs
<li>Provas por indução em todo detalhe
<li>A multiplicação é associativa
<li>A multiplicação é comutativa
<li>Distributividade pela esquerda
<li>Distributividade pela direita
<li>O princípio da indução para listas
</ul>

<h3>07/05/2018</h3>
<ul>
<li class='livecoding'>Linduction.hs
<li>Lei da exponenciação 1
<li>Lei da exponenciação 2
<li>O princípio da indução para listas finitas
<li>sum (doubleAll xs) = 2 * sum xs
<li>rev (xs ++ ys) = rev ys ++ rev xs
<li>rev . rev = id
<li>(++) é associativa
<li>length (xs ++ ys) = length xs + length ys
</ul>

<h3 class='cancelled'>09/05/2018: Aula cancelada</h3>
<h3 class='cancelled'>14/05/2018: Aula cancelada</h3>
<h3 class='cancelled'>16/05/2018: Aula cancelada</h3>

<h3>21/05/2018</h3>
<ul>
<li>Funções <em>strict</em>
<li>Eficiência do <em>reverse</em>
<li>Usando prova por indução para achar definição eficiente
<li>Listas Nonempty
<li>Arvores com valores em nodes e leaves
<li>Arvores com valores apenas nos leaves
<li class='livecoding'>Trees.hs
<li><em>flatten</em> &amp; <em>tmap</em>
</ul>

<h3>23/05/2018</h3>
<ul>
<li>Maybe α
<li>Either α β
<li><em>foldr</em>
<li class='livecoding'>FF.hs
</ul>

<h3>28/05/2018</h3>
<ul>
<li>Record syntax
<li>Smart constructors
    <ul>
    <li>even better with type synonyms
    <li>even better with Maybe Person
    <li>even better with Either String Person
    <li>even better with Either [String] Person
    <li>even better with Either [PersonError] Person
    </ul>
<li class='livecoding'>May.hs
<li>mmap: como map mas para Maybes em vez de Listas
<li>Traversando lista de objetos de um suposto banco de dado: com e sem foldr
<li>Input/Output em Haskell
<li>IO α ∷ *
<li>IO ∷ * → *
<li>putStrLn, putStr, getLine
<li><strong>Hello, world!</strong>
</ul>

<h3>30/05/2018</h3>
<ul>
<li>O tipo <strong>Unit</strong> e seu &lquo;único&rquo; valór: <code>()</code>
<li>Input/Output
<li>Os typos <code>IO α</code>
<li>O que GHCi faz
<li>Uns primitives de I/O: putChar, getLine, e seus amigos
<li>O módulo <code>System.Directory</code>
<li>A notação <code>do</code> e a setinha de atribuição <code>←</code>
<li>A função <code>return ∷ α → IO ()</code>
<li>Funções puras vs. impuras
<li class='livecoding'>Grr.hs
</ul>

<h3>04/06/2018</h3>
<ul>
<li>Mais input/output
<li>Os operadores «and then» (≫) e «bind» (≫=)
<li>O açucar sintáctico da do-notation desaçucarificado
<li>Construindo uma linguagem imperativa
<li class='livecoding'>IO1.hs
<li>Resolução (parcial) do homework ExIO (botei o arquivo na pasta funfiles como IOkit.hs)
</ul>

<h3>06/06/2018</h3>
<ul>
<li>Interpretação computacional de lista, maybe, either, IO.
<li>Última continuação do homework ExIO (atualizei o arquivo na pasta funfiles como IOkit.hs)
<li class='livecoding'>IO2.hs
</ul>

<h3>11/06/2018</h3>
<ul>
<li>thunks
<li><code>:sprint</code>  (GHCi)
<li>_holes
<li>mais sobre a do-notation
<li>Functors
<li class='livecoding'>VO.hs
</ul>

<h3>13/06/2018</h3>
<ul>
<li>do-notation desugaring
<li>Strictness of do stmts
<li><code>cheat :: IO α → α</code>
<li>Explicação de todo o ExIO
<li>Functors; Applicative; Monads
<li>do-notation for non-IO monads
</ul>

<h3>18/06/2018</h3>
<ul>
<li>A hierarquia <em>Functor–Applicative–Monad</em>
<li>Functor
    <ul>
    <li>Definições obrigatórias
    <li>Definições de graçá
    <li>A ideia do fmap: <code>fmap</code> &amp; <code>&lt;$&gt;</code>
    <li>Leis
    <li>Functors: Maybe, List, IO
    </ul>
<li>Applicative
    <ul>
    <li>Definições obrigatórias
    <li>Definições de graçá
    <li>A ideia do «splat»: <code>&lt;*&gt;</code>
    <li>Leis
    <li>Leis de Applicative como rewrite rules para chegar na applicative form:
        <code>[[g x1 x2 ... xn]]</code>
    <li>Applicatives: Maybe, List, IO
    </ul>
<li>A hierarquia <em>Semigroup–Monoid–Group–Abelian</em>
</ul>

<h3>20/06/2018</h3>
<ul>
<li>Either (revisão)
<li>(Either ε :: * → *) é um functor
<li>Exemplos de Semigrupos
<li><code>newtype</code> vs. <code>data</code> vs. <code>type</code>
<li>tipos isómorfos
<li>Uso de newtype para satisfazer o mesmo typeclass em maneiras diferentes
<li>Duas maneiras diferentes de definir o List como Applicative
</ul>

<h3>25/06/2018</h3>
<ul>
<li>De Applicative para Monad
<li><code>fail</code> e MonadPlus
<li><code>data Wrapper a = Wrap a</code>
<li><code>bind</code> não pode ser definido pelas <code>fmap</code>, <code>pure</code>, <code>&lt;*&gt;</code>
<li>compilação com <em>ghc</em>
<li>exemplos de real-life pacotes/bibliotecas: getArgs, scotty, etc.
<li>Exposição da fold (por Gustavo)
</ul>

<h2 id='futurelog'>Futuro (fluido)</h2>
<div class='future'>

<!--
<li><code>type</code> vs <code>newtype</code> vs <code>data</code>
<li>QuickCheck: prop_reverseConcat oops!
-->

<h3>27/06/2018</h3>

<h3>02/07/2018</h3>

<h3>04/07/2018</h3>

</div>


</section>

</main>

<div id='pezinhos'>
<p class='lastupdate'>
Last update:
Wed Jun 20 22:49:35 -03 2018

</div>

</div>

</body>

</html>
